html {
  background-color: white;
}
body {
  display: flex;
  flex-flow: column nowrap;

  /* align-items: center; */
  padding: 0;
  font-family: "Poppins";
}

nav {
  /* left: 11.45rem; */
  /* height: 200vh; 
   */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
}
.biggercontainer {
  display: flex;
  width: 100%; /* khede ad ma fike 3ared la n2ool l container add lsheshe */
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.container1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  height: 128.6px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
}
header {
  display: block;
  /* margin-top: auto; */
}
header {
  display: flex;

  align-items: center;
}
.top {
  display: flex;
  flex-direction: row nowrap;
  align-items: flex-start;
}
.top li {
  display: flex;
  display: inline;
  float: left;
  /* gap: 1rem; */
  align-items: center;
  /* margin-top:1rem ; */
}
.top a {
  display: block;

  text-decoration: none;
  text-align: center;
  padding: 8px 9px;
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  word-spacing: normal;
}

.top ul {
  display: block;
  /* margin-left: 2.2rem; */
  letter-spacing: 1px;
  /* margin-top: 2rem; */
  padding-left: 10px;
  margin-top: 1rem;
}
.uls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 760px;
  height: 50px;
  /* padding-left: 5px;
  padding-right: 10px; */
}
.top a:hover {
  background-color: #f71414;
  color: white;
}

.flag img {
  /* margin-left: 15px; */
  display: flex;
  padding: 8px 1rem;
  align-items: center;
  margin: 0rem;
}
.flag img:hover {
  background-color: #f71414;
}
.search {
  width: max-content; /*the width of the container is going to be determined by the content in it*/
  display: flex;
  align-items: center;
  border: solid #262626 1px;
  padding: 10px;
  margin-right: 0.67rem;
  margin-top: 0.1rem;
}
.search-input {
  font-size: 14px;
  font-weight: 200;
  outline: none;
  background-color: transparent;
  border: none;
  width: 690px;
  color: #262626;
  letter-spacing: 1px;
}
.search-input::placeholder,
.search-icon {
  color: rgb(154, 150, 150);
}

.logo1 {
  width: 222.6px;
  height: 50px;
}
.text-belowsearch {
  color: rgb(74, 71, 71);
}
.text-belowsearch span {
  color: rgb(59, 57, 57);
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}
.slider {
  display: flex;
  overflow-x: auto;
  overflow: hidden; /*removing hori scroll bar*/
  /* aspect-ratio: 16/9; */
  scroll-snap-type: x mandatory; /*the x value tells the css to snap along x-axis and the mandatory value is a strict value tehat forces the behaivour to always snap to the next snap position which creates the slider effect we want */
  /* the snap effect wont be visible until we add*/
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; Smooth scrolling on iOS */
}
.slider img {
  flex: 1 0 100%; /*shorthand property for setting flex row flex shrink flex spaces by setting to 1 every image will be set to same side in container
  by setting to 0 every image will retain the width they need and not wrap its content
  by setting flex spaces to 100% every image will have an intial size to 100% meaning it will take up the entire main container*/
  scroll-snap-align: start;
  object-fit: cover;
  max-width: 1536px;
}
.slider-nav {
  display: flex;
  column-gap: 0.6rem;
  position: absolute;
  left: 50%; /*center the nav*/
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 0.4rem;
}
.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: solid #262626 1.55px;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
  background-color: #262626;
}

/* .slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome 
}*/
